[%- FOR file IN data.files %]
[%- PERL %]
my $file = $stash->get('file');
$file =~ /(\w*?)\/strings\.(?:txt|iss)$/;
my $id = $1;

# need to treat slimservice strings differently 
# - use same ID as previously, when it still was in SN
if ($id eq 'slt' && $file =~ /slimservice-strings.txt$/ ) {
	$id = 'docroot'
} 

$stash->set( module => $id );
[%- END %]
[%- FOR string IN data.data.$file.keys %]
[%- IF data.data.$file.$string.$target %]
[%- module _ '__' _ string %]	[% data.data.$file.$string.$target %]	[% data.data.$file.$string.SLT ? 'Dev: ' _ data.data.$file.$string.SLT : ''  %]
[% END %]
[%- END %]
[%- END %]
